*{
    font-family: 'Nanum Pen Script', cursive;
    margin: 0px;
    padding: 0px;
}
body{
    overflow: hidden;
}
main {
    background-color: #ffffff;
    text-align-last: center;
    font-size: 80px;
}
.center-hr {
    width: 100vw;
    height: 100vh;
    margin-top: 60px;
    background-color: #ece6cc;
    border-top: 1px solid black;
}
.v-line {
    display: inline-block;
    position: absolute;
    border-left : 2px dashed gray;
    height : 100vh;
    left: 1168px;
    top: 194px;
  }
ul {
    margin-left: auto;
    margin-right: 50px;
    width: 83%;
    height: 5px;
}
li {
    line-height: 50px;
    margin: -5px 10px 10px -10px;
    border-left: 1px solid black;
    list-style-type: none;
    float: left;
    width: 7.8%;
    height: 10px;
    text-align: center;
    background-color: pink;
}
li:last-child{
    border-right: 1px solid black;
}
li a {
    display: block;
    color: #000;
    text-decoration: none;
}
li a:hover {
    color: none;
}
table {
    border-collapse: collapse;
    margin: 160px 0px 0px 150px;
    width: 100%;
    height: 100%;
}
td {
    border: 1px solid gray;
    font-size: 25px;
    width: 100px;
    height: 112px;
    vertical-align: top;
}
th {
    border: 1px solid gray;
    background-color: #dddddd;
    width: 100px;
    height: 30px;
    font-size: 20px;
}
td:nth-child(1), th:nth-child(1) {color:red;}
td:nth-last-child(1), th:nth-last-child(1) {color: blue;}