<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>ComforTravel</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <div id="wrapper">

            <div class="search">
                <div class="search_box">
                    <h1 class="logo">ComforTravel</h1>
                    <div class="window">
                        <form action="/applysearch" method="GET">
                            <input type="text" id="fname" class="input_text" name="location" placeholder="검색어를 입력하세요">
                            <button class="Button" type="submit"><div class="searchBtn">검색</div></button>
                        </form>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            
            <div class="main">
                <h1>G-Tower 전망대</h1>
                <div class="pinfo">
                    송도 센트럴파크 내부에 자리잡고 있는 G타워는 인천경제자유구역(IFEZ)의 청사로 GCF, UN기구 등 여러 국제기구 사무국들이 함께 입주한 송도의 랜드마크입니다. 첨단 미래도시를 형상화한 송도의 랜드마크 중에 하나인 G타워에는 다양한 기구들이 입주해 있을 뿐만 아니라 시민들에게도 개방된 곳입니다. G타워 33층에는 IFEZ에 홍보관이 있으며, 29층에는 송도의 전망을 한눈에 담을 수 있는 전망대가 있습니다.
                </div>
                <!-- 사진 -->
                <div class="main_img">
                    <table>
                        <tr>
                            <td><img alt="" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxNzA5MTdfMTYy%2FMDAxNTA1NjEzMDc4ODE4.YKb3gKTba3Q1VcubFFQxZn2kyvY7UioDYQUmlPHlrS0g.VbyiTvuYjf0_k0Jrm2cfcqRFte3_oVNCSy72ljnhWvYg.JPEG.deadspirit13%2FDSC04687.JPG%236000x4000" /></td>
                            <td><img alt="" src="" /></td>
                            <td><img alt="" src="" /></td>
                        <tr>
                      </table>
                </div>
                
                <div class="main">
                    <ul class="ullist">
                        <ul class="ninfo">
                            <li>주소 : 인천 연수구 아트센터대로 175</li>
                            <li>전화 : </li>
                            <li>사이트 :  <a href="http://www.ifez.go.kr/index" target="_blank">http://www.ifez.go.kr/index</a></li>
                        <li>운영시간 : 평일 10:00 ~ 18:00 | 주말 휴무</li>
                        </ul>
                    </ul>
                    <li>
                        <h2 style="margin-top:50px;">오시는길</h2>
                    </li>
                    <ul class="ninfo">
                        <li>
                            <b>지하철</b>
                            <ul>
                                <li>
                                    인천 1호선 | 센트럴파크역 3번 출구
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>