<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>ComforTravel</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <div id="wrapper">

            <div class="search">
                <div class="search_box">
                    <h1 class="logo">ComforTravel</h1>
                    <div class="window">
                        <form action="/applysearch" method="GET">
                            <input type="text" id="fname" class="input_text" name="location" placeholder="검색어를 입력하세요">
                            <button class="Button" type="submit"><div class="searchBtn">검색</div></button>
                        </form>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            
            <div class="main">
                <h1>광화문광장</h1>
                <div class="pinfo">
                    임진왜란 시기 광화문이 화재로 소실된 후에도 광화문 앞길은 육조거리로, 궐외각사(闕外各司)들이 모여 있는 중심 관청가였다. 광화문은 고종이 경복궁을 중건하면서 복원됐지만, 1910년 한일 강제 병합 이후 경복궁 내에 조선총독부가 세워지면서 경복궁 동쪽으로 강제 이전되었다. 제3공화국 시절 콘크리트로 광화문이 다시 만들어지고 위치와 건축소재면에서 고증 논란이 끊이지 않다가 2008년 고증을 통해 원래의 자리에 제대로 복원되었다. 광화문의 소실과 복원은 수차례 반복되었지만, 그 와중에도 광화문 앞길은 여전히 대한민국의 중심공간으로, 사람들이 모이고 만나며 소식과 의견을 나누는 가장 중요한 장소였고, 다양한 근, 현대사를 겪으며 민주주의의 상징이자 화합의 공간으로 발돋움했다. 광화문의 복원과 함께 2009년 광화문 앞길은 장소의 의미와 기능에 맞게 처음으로 광장의 모습을 갖추었다. 2022년 8월 다시 문을 연 ‘광화문광장’은 월대복원이라는 민족의 숙원을 해결하는 등, 광화문 앞길의 역사적 의미와 깊이를 계승함과 동시에, 휴식과 산책 등의 일상과 축제나 행사 등의 비일상을 연결하는 서울 시민의 대표적 삶의 장으로서 시민들의 전폭적인 사랑을 받기를 기대한다
                </div>
                <!-- 사진 -->
                <div class="main_img">
                    <table>
                        <tr>
                            <td><img alt="" src="https://ldb-phinf.pstatic.net/20150831_204/1441025926421v8npC_JPEG/116359523039923_0.jpg" /></td>
                            <td><img alt="" src="https://ldb-phinf.pstatic.net/20140407_123/1396856262447Ievci_JPEG/%BC%AD%BF%EF_%B1%A4%C8%AD%B9%AE%B1%A4%C0%E5_4.jpg?type=m500_500" /></td>
                            <td><img alt="" src="https://ldb-phinf.pstatic.net/20140407_225/1396856262921TNnAV_JPEG/%BC%AD%BF%EF_%B1%A4%C8%AD%B9%AE%B1%A4%C0%E5_8.jpg?type=m500_500" /></td>
                        <tr>
                      </table>
                </div>
                
                <div class="main">
                    <ul class="ullist">
                        <ul class="ninfo">
                            <li>주소 : 서울 종로구 세종대로 175 세종이야기</li>
                            <li>전화 : 02-120</li>
                            <li>사이트 : <a href="https://gwanghwamun.seoul.go.kr/main.do" target="_blank">https://gwanghwamun.seoul.go.kr/main.do</a></li>
                            <li>운영시간 : </li>
                        </ul>
                        <li>
                            <h2 style="margin-top:50px;">오시는길</h2>
                        </li>
                        <ul class="ninfo">
                            <li><b>지하철</b>
                                <ul>
                                    <li>
                                        3호선 | 경복궁역 6번 출구
                                    </li>
                                    <li>
                                        5호선 | 광화문역 7번 출구
                                    </li>
                                </ul>
                            </li><br/>
                            <li><b>버스</b>
                                <ul>
                                    <li>간선
                                        <ul>
                                            <li>
                                                101, 103, 109, 150, 160, 260, 270, 271, 273, 370, 401, 406, 470, 600, 601, 602, 606, 700, 702A, 702B, 704, 707, 708, 720, 721, 741, N26, N37, N51, N75
                                            </li>
                                        </ul>
                                    </li>
                                    <li>지선
                                        <ul>
                                            <li>
                                                1020, 1711, 7016, 7018, 7019, 7022, 7212
                                            </li>
                                        </ul>
                                    </li>
                                    <li>광역
                                        <ul>
                                            <li>
                                                1000, 1100, 1200, 1900, 9701, 9703, M7106, M7129, 9714, 9709, 9710, 9710-1, G7111, M7111, M7154, 1004, 8600, 8601, G6005, M7119, 5000A, 5000B, 5005, 5500-2, 9000, 9000-1, 9200, 9401
                                            </li>
                                        </ul>
                                    </li>
                                    <li>마을
                                        <ul>
                                            <li>
                                                종로09, 종로11
                                            </li>
                                        </ul>
                                    </li>
                                    <li>순환
                                        <ul>
                                            <li>
                                                1
                                            </li>
                                        </ul>
                                    </li>
                                    <li>공항
                                        <ul>
                                            <li>
                                                6002
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>