<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>ComforTravel</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <div id="wrapper">

            <div class="search">
                <div class="search_box">
                    <h1 class="logo">ComforTravel</h1>
                    <div class="window">
                        <form action="/applysearch" method="GET">
                            <input type="text" id="fname" class="input_text" name="location" placeholder="검색어를 입력하세요">
                            <button class="Button" type="submit"><div class="searchBtn">검색</div></button>
                        </form>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            
            <div class="main">
                <h1>김포 국제조각공원</h1>
                <div class="pinfo">
                    김포국제조각공원은 조각미술 작품으로써 평화통일의 메시지를 전 세계에 전파하기 위해 지오바니 안셀모 등 세계 유수의 미술가들이 모여 1998 년에 처음 조성되었습니다. 천혜의 자연 속 예술 공간의 조성을 콘셉트로, 자연환경의 보존을 우선하는 한편 작품 구상에서부터 환경과의 조화에 충실한 작품들을 설치하였습 니다. 그리하여, 김포국제조각공원은 자연과 예술, 인간이라는 삼자의 이상적인 조화를 실현하는 공간으로써 예술 작품과 대중이 만나는 이상적인 자연 예술 공간을 추구합니다. 김포시는 남과 북, 내륙과 해안을 연결하는 교통의 중심지이자 세계 유일의 분단국 접경도시로 한반도 평화통일의 시대를 선도하는 대한민국 평화 문화 1번지 입니다. 김포국제조각공원은 조각 작품을 통해 평화와 통일의 메시지를 전 세계에 전파하고자 세계적인 미술가들이 모여 1998년에 조성되었습니다. 북녘땅이 내려다 보이는 문수산의 아름다운 휴양림 속에 설치된 다니엘 뷔렌 등 세계적 조각가 14인과 국내 저명 작가 16인의 총30점의 작품속에 는 평화와 통일을 기원하는 김포시민의 염원이 깃들어 있습니다. 김포국제조각공원은 평화와 통일을 기원하는 예술 작품과 문수산의 휴양림이 조화롭게 어우러진 세계 유일의 자연 예술 공간입니다. 가족이나 친구, 연인과 함께 방문하시어 편안한 휴식을 즐기시고, 몸과 마음에 여유를 가득 채워 가시길 바랍니다.
                </div>
                <!-- 사진 -->
                <div class="main_img">
                    <table>
                        <tr>
                            <td><img alt="" src="https://ldb-phinf.pstatic.net/20201029_136/1603960543066f26EJ_JPEG/OgMkwBLfix1MFGHf1TAVXJvU.jpg" /></td>
                            <td><img alt="" src="https://ldb-phinf.pstatic.net/20201029_12/1603960542930gYrEJ_JPEG/qX--yKI3RjuWDOQQOn52aN4G.jpg" /></td>
                            <td><img alt="" src="https://ldb-phinf.pstatic.net/20201029_241/160396057139793zgL_JPEG/Cg3X7KyuOtNFzXSER3SeuNPq.jpg" /></td>
                        <tr>
                      </table>
                </div>
                
                <div class="main">
                    <ul class="ullist">
                        <ul class="ninfo">
                            <li>주소 : 경기 김포시 월곶면 고막리 435-14</li>
                            <li>전화 : 031-984-5167</li>
                            <li>사이트 : <a href="https://www.gcf.or.kr/main/?mc_code=1414" target="_blank">https://www.gcf.or.kr/main/?mc_code=1414</a></li>
                            <li>운영시간 : 24시간 연중무휴</li>
                        </ul>
                        <li>
                            <h2 style="margin-top:50px;">오시는길</h2>
                        </li>
                        <ul class="ninfo">
                            <li><b>버스</b>
                                <ul>
                                    <li>일반 | 88, 96, 97</li>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>