<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>ComforTravel</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <div id="wrapper">

            <div class="search">
                <div class="search_box">
                    <h1 class="logo">ComforTravel</h1>
                    <div class="window">
                        <form action="/applysearch" method="GET">
                            <input type="text" id="fname" class="input_text" name="location" placeholder="검색어를 입력하세요">
                            <button class="Button" type="submit"><div class="searchBtn">검색</div></button>
                        </form>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            
            <div class="main">
                <h1>민주화운동기념공원</h1>
                <div class="pinfo">
                    2001년 1월 12일 「민주화운동 관련자 명예회복 및 보상등에 관한 법률」 공포에 따라 설치된 민주화운동보상심의위원회 제24차 본회의(2001.7.18.)에서 같은 법 제23조에 의거하여 민주열사 추모 및 민주화운동 이념 계승을 위한 민주화운동 기념사업의 일환으로 민주공원 조성을 결정하였다.
                </div>
                <!-- 사진 -->
                <div class="main_img">
                    <table>
                        <tr>
                            <td><img alt="" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2F20160712_218%2F2000happy__1468331964079K22az_JPEG%2F%25C0%25CC%25C3%25B5%25B9%25CE%25C1%25D6%25C8%25AD%25B0%25F8%25BF%25F8%25B1%25E2%25B3%25E4%25B0%25F8%25BF%25F8_%25C0%25CC%25B9%25CE%25BC%25F7%25283%2529.jpg%231000x666" /></td>
                            <td><img alt="" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2F20160712_35%2F2000happy__1468331992738p0fJk_JPEG%2F%25C0%25CC%25C3%25B5%25B9%25CE%25C1%25D6%25C8%25AD%25B0%25F8%25BF%25F8%25B1%25E2%25B3%25E4%25B0%25F8%25BF%25F8_%25C0%25CC%25B9%25CE%25BC%25F7%25287%2529.jpg%231000x666" /></td>
                            <td><img alt="" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2F20160712_193%2F2000happy__146833189580496q1C_JPEG%2F%25C0%25CC%25C3%25B5%25B9%25CE%25C1%25D6%25C8%25AD%25B0%25F8%25BF%25F8%25B1%25E2%25B3%25E4%25B0%25F8%25BF%25F8_%25C0%25CC%25B9%25CE%25BC%25F7%25286%2529.jpg%231000x664" /></td>
                        <tr>
                      </table>
                </div>
                
                <div class="main">
                    <ul class="ullist">
                        <ul class="ninfo">
                            <li>주소 : 경기 이천시 모가면 어농리 산28-5</li>
                            <li>전화 : 031-633-8465</li>
                            <li>사이트 : <a href="http://www.eminju.kr/" target="_blank">http://www.eminju.kr/</a></li>
                            <li>운영시간 : </li>
                        </ul>
                    </ul>
                    <li>
                        <h2 style="margin-top:50px;">오시는길</h2>
                    </li>
                    <ul class="ninfo">
                        <li><b>버스</b>
                            <ul>
                                <li>
                                    일반 | 26-1, 26-10, 25-31, 26-1, 26-10, 26-11, 26-13
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>