<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>ComforTravel</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <div id="wrapper">

            <div class="search">
                <div class="search_box">
                    <h1 class="logo">ComforTravel</h1>
                    <div class="window">
                        <form action="/applysearch" method="GET">
                            <input type="text" id="fname" class="input_text" name="location" placeholder="검색어를 입력하세요">
                            <button class="Button" type="submit"><div class="searchBtn">검색</div></button>
                        </form>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            
            <div class="main">
                <h1>상암DMC</h1>
                <div class="pinfo">
                    MBC, SBS, JTBC, CJ E&M 등 국내 미디어 기업들이 밀집해 있는 미디어 산업단지. e스포츠와 관련된 체험을 할 수 있는 e스포츠 명예의 전당, DMC 홍보관, 한국영화박물관 등 한류 컨텐츠를 다양하게 경험할 수 있는 곳들이 많다.
                </div>
                <!-- 사진 -->
                <div class="main_img">
                    <table>
                        <tr>
                            <td><img alt="" src="" /></td>
                            <td><img alt="" src="" /></td>
                            <td><img alt="" src="" /></td>
                        <tr>
                      </table>
                </div>
                
                <div class="main">
                    <ul class="ullist">
                        <ul class="ninfo">
                            <li>주소 : 서울특별시 마포구 상암로 255</li>
                            <li>전화 : </li>
                            <li>사이트 : </li>
                            <li>운영시간 : </li>
                        </ul>
                        <li>
                            <h2 style="margin-top:50px;">오시는길</h2>
                        </li>
                        <ul class="ninfo">
                            <li><b>지하철</b>
                                <ul>
                                    <li>
                                        6호선 | 디지털미디어시티역 2,8,9번 출구
                                    </li>
                                    <li>
                                        경의중앙선 | 디지털미디어시티역 2,8,9번 출구
                                    </li>
                                    <li>
                                        공항철도선 | 디지털미디어시티역 2,8,9번 출구
                                    </li>
                                </ul>
                            </li><br/>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>