<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>ComforTravel</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <div id="wrapper">

            <div class="search">
                <div class="search_box">
                    <h1 class="logo">ComforTravel</h1>
                    <div class="window">
                        <form action="/applysearch" method="GET">
                            <input type="text" id="fname" class="input_text" name="location" placeholder="검색어를 입력하세요">
                            <button class="Button" type="submit"><div class="searchBtn">검색</div></button>
                        </form>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            
            <div class="main">
                <h1>서운동산</h1>
                <div class="pinfo">
                    가족나들이에서부터 회사 단합대회까지 자연속의 전원휴양지 서운동산에서 함께 하세요. 서운동산은 1969년부터 조경을 준비하여 1987년 대한민국 관광농원 제1호로 개관되었습니다. '사진발 좋은 여행지101' 에 선정된 서운동산은 죽엽산 아래 40여년 간 조성된 5만 여평의 조경과 수림을 이루고, 아름다운 테마정원이 있어 각종 CF 및 잡지, 화보, 뮤직비디오, TV 드라마 등에 촬영 장소로서 이름을 알리고 있습니다. 또한 아름다운 광릉 숲 옆에 잘 가꾸어진 정원과 어린이 체험장, 각종 편의시설, 놀이시설 및 숙박시설 등이 있어 휴식과 레저를 함께 즐길 수 있습니다. 서운동산의 조경수림지역은 호수를 끼고 산책로를 따라 고즈넉한 산책을 즐길 수 있으며, 가든레스토랑(식당), 야외 공연장, 어린이 물놀이장, 어린이 체험낚시터, 테마정원, 잔디광장, 어린이 동물원 등이 위치해 있어 자연과 함께 다양한 동물과 곤충들을 체험할 수 있는 시설이 있습니다. 숙박시설에는 펜션이 있으며, 셀프바비큐장, 캠프파이어장을 갖추고 있습니다. 서운동산은 봄 · 여름 · 가을 · 겨울 4계절의 특성을 살린 조경으로 사계절의 변화를 뚜렷하게 느낄 수 있게 하였으며, 각 특성에 맞추어 밤 줍기, 음악회 등의 계절별 이벤트를 준비하고 있습니다.
                </div>
                <!-- 사진 -->
                <div class="main_img">
                    <table>
                        <tr>
                            <td><img alt="" src="https://ldb-phinf.pstatic.net/20201113_27/1605255275357T13L9_JPEG/11.jpg" /></td>
                            <td><img alt="" src="https://ldb-phinf.pstatic.net/20200510_183/1589119258014yv21L_JPEG/ggardenman_96290286_1193625574308227_3810825485669475065_n.jpg" /></td>
                            <td><img alt="" src="https://ldb-phinf.pstatic.net/20191010_89/1570712061684fRGX2_JPEG/KakaoTalk_Photo_2019-10-10-21-53-56.jpeg" /></td>
                        <tr>
                      </table>
                </div>
                
                <div class="main">
                    <ul class="ullist">
                        <ul class="ninfo">
                            <li>주소 : 경기 포천시 내촌면 마명리 127-3</li>
                            <li>전화 : 031-533-9090</li>
                            <li>사이트 : <a href="http://www.seowoon.co.kr/" target="_blank">http://www.seowoon.co.kr/</a></li>
                            <li>운영시간 : 평일 09:00 ~ 17:00 | 주말 09:00 ~ 18:00 </li>
                        </ul>
                    </ul>
                    <li>
                        <h2 style="margin-top:50px;">오시는길</h2>
                    </li>
                    <ul class="ninfo">
                        <li><b>지하철</b>
                            <ul>
                                <li>
                                    1호선 | 청량리역 | 의정부역
                                </li>
                                <li>
                                    2호선 | 강남역 | 잠실역
                                </li>
                                <li>
                                    6호선 | 태릉역
                                </li>
                            </ul>
                        </li>
                        <li><b>버스</b>
                            <ul>
                                <li>
                                    일반 | 21, 73, 88, 707
                                </li>
                                <li>
                                    광역 | 7007
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>