<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>ComforTravel</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <div id="wrapper">

            <div class="search">
                <div class="search_box">
                    <h1 class="logo">ComforTravel</h1>
                    <div class="window">
                        <form action="/applysearch" method="GET">
                            <input type="text" id="fname" class="input_text" name="location" placeholder="검색어를 입력하세요">
                            <button class="Button" type="submit"><div class="searchBtn">검색</div></button>
                        </form>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            
            <div class="main">
                <h1>세븐럭 카지노</h1>
                <div class="pinfo">
                    서울 강남의 중심에 자리한 세븐럭 카지노 강남 코엑스점은 동양적인 분위기와 최첨단 설비를 갖춘 한국형 카지노입니다. 총 3층(면적 6,094㎡)의 영업장 규모를 자랑하며 다양한 게임의 묘미를 느낄 수 있도록 테이블 게임 78대(바카라, 블랙잭, 포커, 룰렛 등)과 최신형 머신게임 108대 및 전자테이블 45대를 운영하고 있습니다. 세븐럭 카지노 강남 코엑스점은 코엑스센터와 우수한 호텔과 면세점, 대형 영화관, 백화점 등의 각종 엔터테인먼트 시설들이 가까이 위치하고 있어 다양한 관광 및 쇼핑의 즐거움을 마음껏 누리실 수 있습니다.
                </div>
                <!-- 사진 -->
                <div class="main_img">
                    <table>
                        <tr>
                            <td><img alt="" src="https://ldb-phinf.pstatic.net/20190715_96/1563189367058VzMIv_JPEG/C-1pBptwsbySru5UCBcGH1jB.jpg" /></td>
                            <td><img alt="" src="https://ldb-phinf.pstatic.net/20200509_62/1589015876980n4H03_JPEG/cGq_sbTDcTLcSx5jTHhD4ny1.jpeg.jpg" /></td>
                            <td><img alt="" src="" /></td>
                        <tr>
                      </table>
                </div>
                
                <div class="main">
                    <ul class="ullist">
                        <ul class="ninfo">
                            <li>주소 : 서울 강남구 테헤란로87길 58 컨벤션별관</li>
                            <li>전화 : 02-3466-6000</li>
                            <li>사이트 : </li>
                            <li>운영시간 : </li>
                        </ul>
                        <li>
                            <h2 style="margin-top:50px;">오시는길</h2>
                        </li>
                        <ul class="ninfo">
                            <li><b>지하철</b>
                                <ul>
                                    <li>
                                        2호선 | 삼성역 5번 출구 
                                    </li>
                                    <li>
                                        9호선 | 봉은사역 7번 출구
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>