<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>ComforTravel</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <div id="wrapper">

            <div class="search">
                <div class="search_box">
                    <h1 class="logo">ComforTravel</h1>
                    <div class="window">
                        <form action="/applysearch" method="GET">
                            <input type="text" id="fname" class="input_text" name="location" placeholder="검색어를 입력하세요">
                            <button class="Button" type="submit"><div class="searchBtn">검색</div></button>
                        </form>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            
            <div class="main">
                <h1>양화 한강공원</h1>
                <div class="pinfo">
                    여의도 샛강 하구에서 강서구 가양대교까지로 한강남단에 위치하고 있습니다.둔치에 넓게 조성된 잔디밭에서 바라보는 탁 트인 전망이 다른 곳에서 쉽게 보기 힘든 풍광을 제공합니다. 인근에 선유교를 건너면 환경재생 생태공원인 선유도와 성산대교 부근의 세계최고의 높이를 자랑하는 202m 월드컵분수로 인해 더욱 아름다운 곳으로 자리잡았습니다.여의도 샛강 하구에서 가양대교까지 연결된 자전거도로가 있으며, 선유교 아래 자전거도로변의5월부터 꽃피우는 아름다운 장미꽃이 유명하여 연인 및 가족과 함께 사진 찍기에 좋은 곳입니다.
                </div>
                <!-- 사진 -->
                <div class="main_img">
                    <table>
                        <tr>
                            <td><img alt="" src="https://ldb-phinf.pstatic.net/20140407_89/1396856337908JH0dw_JPEG/%BC%AD%BF%EF_%C7%D1%B0%AD%BD%C3%B9%CE%B0%F8%BF%F8%BE%E7%C8%AD%C1%F6%B1%B8_10.JPG?type=m500_500" /></td>
                            <td><img alt="" src="https://ldb-phinf.pstatic.net/20140407_59/1396856338209nx2lA_JPEG/%BC%AD%BF%EF_%C7%D1%B0%AD%BD%C3%B9%CE%B0%F8%BF%F8%BE%E7%C8%AD%C1%F6%B1%B8_12.JPG?type=m500_500" /></td>
                            <td><img alt="" src="https://ldb-phinf.pstatic.net/20140407_39/1396856341735SNT8j_JPEG/%BC%AD%BF%EF_%C7%D1%B0%AD%BD%C3%B9%CE%B0%F8%BF%F8%BE%E7%C8%AD%C1%F6%B1%B8_8.JPG?type=m500_500" /></td>
                        <tr>
                      </table>
                </div>
                
                <div class="main">
                    <ul class="ullist">
                        <ul class="ninfo">
                            <li>주소 : 서울 영등포구 노들로 113</li>
                            <li>전화 : 02-3780-0581</li>
                            <li>사이트 : <a href="https://hangang.seoul.go.kr/archives/46804" target="_blank">https://hangang.seoul.go.kr/archives/46804</a></li>
                        </ul>
                        <li>
                            <h2 style="margin-top:50px;">시설</h2>
                        </li>
                        <ul class="ninfo">
                            <li><b>운동시설</b>
                                <ul>
                                    <li>
                                        축구장 1면, 농구장 2면, 배구장2면(위 치: 유람선 선착장 앞) <a href="https://hangang.seoul.go.kr/archives/2413" target="_blank">(체육시설 이용 안내 바로가기)</a>
                                    </li>
                                    <li>
                                        야외씨름장
                                    </li>
                                    <li>
                                        체력단련장2
                                    </li>
                                </ul>                               
                            </li>
                            <br/>
                            <li><b>자전거대여점</b>
                                <ul>
                                    <li>
                                        위치 : 당산철교 밑 양화제1요금소 옆
                                    </li>
                                    <li>
                                        1인용 : 1시간당 3,000원(15분 초과시 마다 500원 추가)
                                    </li>
                                    <li>
                                        2인용 : 1시간당 6,000원(15분 초과시 마다 1,000원 추가)
                                    </li>
                                    <li>
                                        <a href="https://hangang.seoul.go.kr/archives/46889">(자전거 대여점 정보 및 요금 안내 바로가기)</a>
                                    </li>
                                </ul>
                            </li>
                            <br/>
                            <li><b>양화대교 전망대(전망쉼터)</b>
                                <ul>
                                    <li>
                                        양화대교 남단 (엘리베이터 좌· 우 이용)
                                    </li>
                                    <li>
                                        양화카페(양화대교 남단 상류)
                                    </li>
                                    <li>
                                        선유카페(양화대교 남단 하류) 
                                    </li>
                                </ul>
                            </li>
                            <br/>
                            <li><b>편의시설</b>
                                <ul>
                                    <li>
                                        주차장(주차가능대수 : 525대, 장애인구역 포함), 화장실 6개소, 매점 4개소, 어린이놀이터 1개소, 음수대8, 그늘막21, 의자187 등
                                    </li>
                                    <li>
                                        유모차 및 휠체어 무료 대여
                                        <ul>
                                            <li>
                                                대여위치 : 양화안내센터
                                            </li>
                                            <li>
                                                이용시간 : 09:00 ~ 18:00
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <br/>
                        </ul>
                        <li>
                            <h2 style="margin-top:50px;">오시는길</h2>
                        </li>
                        <ul class="ninfo">
                            <li><b>지하철</b>
                                <ul>
                                    <li>
                                        2호선 | 당산역 4번 출구 도보 5분
                                    </li>
                                    <li>
                                        9호선 | 선유도역 2번 출구 도보 10분
                                    </li>
                                </ul>
                            </li>
                            <br/>
                            <li><b>버스</b>
                                <ul>
                                    <li>
                                        간선
                                        <ul>
                                            <li>
                                                60 , 70 , 70-2 , 70-3 , 88, 602 , 604 , 605 , 661 , 670 , N26 , N62, 5616 , 5712 , 6514 , 6623 , 6631 , 6632 , 6712 , 6716
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        마을
                                        <ul>
                                            <li>
                                                영등포02
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li><br/>
                            <li><b>주차장</b>
                                <ul>
                                    <li>
                                        주차장 수 : 5개소(양화1주차장, 양화2주차장, 양화3주차장, 양화4주차장, 양화5주차장)
                                    </li>
                                    <li>
                                        이용시간 : 오전 6시 ~ 오후 12시
                                    </li>
                                    <li>
                                        주차요금
                                        <ul>
                                            <li>
                                                기본요금 : 최초 30분 1,000원
                                            </li>
                                            <li>
                                                초과 10분당 200원
                                            </li>
                                            <li>
                                                1일 주차 최고한도 10,000원
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>