<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>ComforTravel</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <div id="wrapper">

            <div class="search">
                <div class="search_box">
                    <h1 class="logo">ComforTravel</h1>
                    <div class="window">
                        <form action="/applysearch" method="GET">
                            <input type="text" id="fname" class="input_text" name="location" placeholder="검색어를 입력하세요">
                            <button class="Button" type="submit"><div class="searchBtn">검색</div></button>
                        </form>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            
            <div class="main">
                <h1>여주시립폰박물관</h1>
                <div class="pinfo">
                    세계에서 하나뿐인 휴대전화 박물관이 여러분께 감동을 드릴 준비가 되어 있습니다. 2007년에 미국 신문이 ‘지난 25년간 우리의 삶을 가장 크게 변화시킨 발명품 25 가지’를 물었습니다. 1위는 휴대전화였습니다. 다시 25년이 지나 2032년에 같은 질문을 하면, 어떤 답이 나올까요? 아마도 스마트폰이 꼽힐 것입니다. 스마트폰은 인류로 하여금 언제 어디서나 누구와도 커뮤니케이션을 하는 ‘휴대 통신’ 세상을 넘어서 ‘휴대 인터넷’ 세상에 진입하게 한 일등공신입니다. 2007년에 응답자들이 꼽은 발명품 중 1위를 뺀 나머지 24개는 어떻게 되었을까요? 노트북, 이메일 전송기, 직불카드, 발신자 표시장치, DVD, MP3, 디지털 카메라, 평판 TV…. 거의가 스마트폰에 흡수되었습니다. 오늘날 스마트폰은 우리 일상의 허브가 되어 SF 작가들이 예언한 세상으로 우리를 인도하고 있습니다. 역사는 20세기와 21세기 인류의 문화유산으로 휴대전화와 스마트폰을 첫머리에 올릴 것입니다. 2008년 1월 여주시 점동면에서 사립(私立)으로 개관하고 2016년 4월 여주 시립(市立)으로 다시 태어난 폰박물관은 개관 이래 세계에서 하나뿐인 휴대전화 박물관입니다. 폰박물관은 3천 점에 이르는 유물과 자료를 통해 여러분에게 역사와 추억과 감동을 느끼게 해드릴 준비가 되어 있습니다.
                </div>
                <!-- 사진 -->
                <div class="main_img">
                    <table>
                        <tr>
                            <td><img alt="" src="https://ldb-phinf.pstatic.net/20220125_160/1643073581680m8sLG_JPEG/KakaoTalk_20220125_101622829.jpg" /></td>
                            <td><img alt="" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxNzExMzBfMjc1%2FMDAxNTEyMDM3ODE5Njc1.YMpL83ZklaSCFg94QAiRJp6vMJT7pOA9RJ1mOgd7U6wg.3YC07RQsnYz6h0Zd87xuxpk95J39cBk8iiW9V8I9ULQg.JPEG.yeojuhangul%2F%25BF%25A9%25C1%25D6%25BF%25A9%25C7%25E0_1352.JPG%23800x601" /></td>
                            <td><img alt="" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxNzExMjlfMTIy%2FMDAxNTExOTY1NTE0Njc2.kChBBhyrGn8nhJHg0pCp9uB9aAgHOTElBirSIK6oOtYg.xjwSOIo4TfKbpgfLmbWdbRFJNkpsFdZT69ppwDd7eygg.JPEG.dirch10%2F20171101_101030.jpg%23900x676" /></td>
                        <tr>
                      </table>
                </div>
                
                <div class="main">
                    <ul class="ullist">
                        <ul class="ninfo">
                            <li>주소 : 경기 여주시 강변유원지길 105 여주시립 폰박물관</li>
                            <li>전화 : 031-887-3548</li>
                            <li>사이트 : <a href="https://blog.naver.com/yeoju_phonemuseum" target="_blank">https://blog.naver.com/yeoju_phonemuseum</a></li>
                            <li>운영시간 : 09:00 ~ 18:00 | 매주 월요일 정기휴무</li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>