<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>ComforTravel</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <div id="wrapper">

            <div class="search">
                <div class="search_box">
                    <h1 class="logo">ComforTravel</h1>
                    <div class="window">
                        <form action="/applysearch" method="GET">
                            <input type="text" id="fname" class="input_text" name="location" placeholder="검색어를 입력하세요">
                            <button class="Button" type="submit"><div class="searchBtn">검색</div></button>
                        </form>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            
            <div class="main">
                <h1>융릉, 건릉</h1>
                <div class="pinfo">
                    2009년 세계문화유산으로 등재. 사도세자와 혜경궁 홍씨를 합장한 융릉, 정조와 효의왕후 김씨의 합장릉인 건릉으로 이루어져 있다. 가는 길 곳곳에 소나무 숲길이 장관이어서 산책코스로 안성맞춤이다.
                </div>
                <!-- 사진 -->
                <div class="main_img">
                    <table>
                        <tr>
                            <td><img alt="" src="" /></td>
                            <td><img alt="" src="" /></td>
                            <td><img alt="" src="" /></td>
                        <tr>
                      </table>
                </div>
                
                <div class="main">
                    <ul class="ullist">
                        <ul class="ninfo">
                            <li>주소 : </li>
                            <li>전화 : </li>
                            <li>사이트 : </li>
                        <li>운영시간 : </li>
                        </ul>
                        <li>
                            <h2 style="margin-top:50px;">오시는길</h2>
                        </li>
                        <ul class="ninfo">
                            <li><b>버스</b>
                                <ul>
                                    <li>
                                        일반 | 34, 34-1, 35-1, 46, 50
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>