<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>ComforTravel</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <div id="wrapper">

            <div class="search">
                <div class="search_box">
                    <h1 class="logo">ComforTravel</h1>
                    <div class="window">
                        <form action="/applysearch" method="GET">
                            <input type="text" id="fname" class="input_text" name="location" placeholder="검색어를 입력하세요">
                            <button class="Button" type="submit"><div class="searchBtn">검색</div></button>
                        </form>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            
            <div class="main">
                <h1>을왕리, 왕산 해수욕장</h1>
                <div class="pinfo">
                    을왕리 해수욕장은 초승달처럼 반원을 이룬 백사장과 병풍처럼 우거진 송림이 아름다운 곳입니다. 백사장이 끝나는 양끝으로 송림과 기암괴석이 늘어져 있는 풍경이 특히 아름답습니다. 백사장 길이는 약 700m이고 평균 수심은 1.5m로 비교적 규모가 큰 해수욕장입니다. 수심이 그리 깊지 않아 아이와 함께 오는 가족들도 많고, 대학생들의 MT 장소로도 사랑받는 해수욕장입니다. 해수욕장 주변에 숙박시설과 식당이 모여 있어 휴가철에 많은 사람들이 모여듭니다.해수욕장길따라 해물칼국수, 조개구이, 횟집 등 해산물을 먹을 수 있는 식당들이 늘어 서 있습니다. 일찍이 국민 휴양 관광지로 개발되어 다양한 편의 시설을 구비하고 있는 것도 을왕리 해수욕장의 큰 장점입니다. 왕산 해수욕장은 용유팔경 중 제1경으로 꼽히는 왕산낙조를 자랑하는 해수욕장입니다. 붉은 해가 저무는 감동적이고 아름다운 모습은 왕산 해수욕장에서 놓칠 수 없는 순간입니다. 휴가철이 아니더라도 해 지는 시간이면 많은 사람들이 해변에 모여 붉게 물든 바다와 지는 해를 바라 봅니다. 낙조도 아름답지만 울창한 수목림과 깨끗한 천연백사장이 펼쳐진 풍경도 아름답습니다. 을왕리 해수욕장보다 찾는 이가 적어 좀 더 한적한 분위기를 자아냅니다. 시끌벅적한피서지분위기보다 조용한 해변을 즐기고 싶다면 왕산 해수욕장을 찾는 것이 좋습니다. 왕산 해수욕장 근처에서 캠핑을 할 수 있는 시설도 마련되어 있습니다. 텐트나 캠핑 장비를 갖추지 않아도 오토캠핑, 글램핑, 카라반 시설을 골라 대여하여 캠핑을 즐길 수 있습니다.
                </div>
                <!-- 사진 -->
                <div class="main_img">
                    <table>
                        <tr>
                            <td><img alt="" src="https://ldb-phinf.pstatic.net/20150901_297/1441037689106ElwuN_JPEG/157155536964104_0.jpg" /></td>
                            <td><img alt="" src="" /></td>
                            <td><img alt="" src="" /></td>
                        <tr>
                      </table>
                </div>
                
                <div class="main">
                    <ul class="ullist">
                        <ul class="ninfo">
                            <li>주소 : 인천 중구 용유서로302번길 16-15</li>
                            <li>전화 : </li>
                            <li>사이트 : <a href="http://rwangni-beach.co.kr/" target="_blank">http://rwangni-beach.co.kr/</a></li>
                        <li>운영시간 : </li>
                        </ul>
                    </ul>
                    <li>
                        <h2 style="margin-top:50px;">오시는길</h2>
                    </li>
                    <ul class="ninfo">
                        <li>
                            <b>지하철</b>
                            <ul>
                                <li>
                                    공항철도 | 인천국제공항역
                                </li>
                            </ul>
                        </li>
                        <li><b>버스</b>
                            <ul>
                                <li>일반 | 7, 111, 306</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>