<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>ComforTravel</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <div id="wrapper">

            <div class="search">
                <div class="search_box">
                    <h1 class="logo">ComforTravel</h1>
                    <div class="window">
                        <form action="/applysearch" method="GET">
                            <input type="text" id="fname" class="input_text" name="location" placeholder="검색어를 입력하세요">
                            <button class="Button" type="submit"><div class="searchBtn">검색</div></button>
                        </form>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            
            <div class="main">
                <h1>이촌 한강공원</h1>
                <div class="pinfo">
                    이촌한강공원은 금호동의 중랑천교와 이촌동의 원효대교 사이 강변 북단에 위치해 있습니다. 인접한 자치구로는 성동구 금호동 4가부터 옥수동을 포함하여 용산구 보광동, 서빙고동, 이촌 1, 2동이 있습니다. 호안가 주변을 따라 갈대, 억새, 코스모스가 철따라 피어나서 시민들의 산책과 조깅코스로 자주 이용됩니다. 청소년을 위한 청소년광장과 X-게임장, 국제규모의 인라인스케이트장, 농구장, 테니스장, 게이트볼장 등의 운동경기장 등이 여가 및 레포츠 공간으로 유용하게 활용되고 있습니다. 또한 한강도하체험장이 생겨 개인, 직장, 학교 등 단체생활의 팀웍훈련장으로 이용되고 있습니다.
                </div>
                <!-- 사진 -->
                <div class="main_img">
                    <table>
                        <tr>
                            <td><img alt="" src="https://ldb-phinf.pstatic.net/20140407_33/1396856393578cJXJh_JPEG/%BC%AD%BF%EF_%C7%D1%B0%AD%BD%C3%B9%CE%B0%F8%BF%F8%C0%CC%C3%CC%C1%F6%B1%B8_9.JPG?type=m500_500" /></td>
                            <td><img alt="" src="https://ldb-phinf.pstatic.net/20140407_75/1396856392002W2cr9_JPEG/%BC%AD%BF%EF_%C7%D1%B0%AD%BD%C3%B9%CE%B0%F8%BF%F8%C0%CC%C3%CC%C1%F6%B1%B8_17.JPG?type=m500_500" /></td>
                            <td><img alt="" src="https://ldb-phinf.pstatic.net/20140407_249/1396856392880EPWGk_JPEG/%BC%AD%BF%EF_%C7%D1%B0%AD%BD%C3%B9%CE%B0%F8%BF%F8%C0%CC%C3%CC%C1%F6%B1%B8_5.JPG?type=m500_500" /></td>
                        <tr>
                      </table>
                </div>
                
                <div class="main">
                    <ul class="ullist">
                        <ul class="ninfo">
                            <li>주소 : 서울 용산구 이촌로72길 62</li>
                            <li>전화 : 02-3780-0551</li>
                            <li>사이트 : <a href="https://hangang.seoul.go.kr/archives/46695" target="_blank">https://hangang.seoul.go.kr/archives/46695</a></li>
                        </ul>
                        <li>
                            <h2 style="margin-top:50px;">시설</h2>
                        </li>
                        <ul class="ninfo">
                            <li><b>운동시설</b>
                                <ul>
                                    <li>
                                        축구장1면, 농구장8면, 배드민턴장10면, 족구장7면, 풋살경기장6면 <a href="https://hangang.seoul.go.kr/archives/2413" target="_blank">(체육시설 이용 안내 바로가기)</a>
                                    </li>
                                    <li>
                                        테니스장8면 <a href="https://hangang.seoul.go.kr/archives/46878" target="_blank">(테니스장 이용 안내 바로가기)</a>
                                    </li>
                                    <li>
                                        이촌 인라인롤러스케이트장2 <a href="https://hangang.seoul.go.kr/archives/46881" target="_blank">(이용안내 바로가기)</a>
                                    </li>
                                    <li>
                                        게이트볼장7면, 우드볼장1면, X-게임장 1면, 체력단련장15, 다목적운동장1, 청소년광장1
                                    </li>
                                </ul>                               
                            </li>
                            <br/>
                            <li><b>낚시</b>
                                <ul>
                                    <li>
                                        낚시 제한 사항 : 떡밥 · 어분 낚시 행위, 낚시대 4대 이상, 훌치기 낚시행위 금지 등
                                    </li>
                                    <li>
                                        금지구역에서의 낚시 및 제한사항 위반자는 과태료 부과 대상입니다 <a href="https://hangang.seoul.go.kr/archives/46872">(한강낚시 금지 및 제한사항 안내 바로가기)</a>
                                    </li>
                                </ul>
                            </li>
                            <br/>
                            <li><b>수상레저스포츠</b>
                                <ul>
                                    <li>
                                        모터보트, 수상스키 등 이용 <a href="https://hangang.seoul.go.kr/archives/46875#program-area5">(수상레저스포츠 이용안내 바로가기)</a>
                                    </li>
                                </ul>
                            </li>
                            <br/>
                            <li><b>자전거대여점</b>
                                <ul>
                                    <li>
                                        위치 : 한강도하체험장(거북선나루터) 옆
                                    </li>
                                    <li>
                                        운영시간 : 09:00 ~ 일몰시 까지 (월별 탄력적 이용)
                                    </li>
                                    <li>
                                        1인용 : 1시간당 3,000원(15분 초과시 마다 500원 추가)
                                    </li>
                                    <li>
                                        2인용 : 1시간당 6,000원(15분 초과시 마다 1,000원 추가)
                                    </li>
                                    <li>
                                        <a href="https://hangang.seoul.go.kr/archives/46889">(자전거 대여점 정보 및 요금 안내 바로가기)</a>
                                    </li>
                                </ul>
                            </li>
                            <br/>
                            <li><b>이촌 수상훈련장</b>
                                <ul>
                                    <li>
                                        인명구조선 2척, 7인용 고무보트 16척, 15인승 고무보트 3척, 카약 14척, 카누5척
                                    </li>
                                </ul>
                            </li>
                            <br/>
                            <li><b>이촌 축구교실장</b>
                                <ul>
                                    <li>
                                        미니축구장 3개
                                    </li>
                                    <li>
                                        수업료 : 6만원(유치부, 초등부, 중등부)<br/>
                                        - 주 1회 1시간(50분 수업, 월4회 기준)
                                    </li>
                                    <li>
                                        회원제(월 등록제) 운영
                                    </li>
                                    <li>
                                        운영시간 : 평일 오후 1시 ~6시, 토요일 오전 9시 ~ 오후 6시, 일요일 오전 9시 ~ 오전11시
                                    </li>
                                </ul>
                            </li>
                            <br/>
                            <li><b>편의시설</b>
                                <ul>
                                    <li>
                                        매점2개소, 화장실11, 음수대15, 그늘막27, 의자692, 어린이놀이터2, 자연학습장 11,070㎡, 자전거보관소5
                                    </li>
                                    <li>
                                        유모차 및 휠체어 무료 대여
                                        <ul>
                                            <li>
                                                대여위치 : 이촌 안내센터
                                            </li>
                                            <li>
                                                이용시간 : 09:00 ~ 18:00
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        샤워실 및 탈의실 무료 이용
                                        <ul>
                                            <ii>
                                                위치 : 한강공원 안내센터
                                            </ii>
                                            <li>
                                                개방시간 : 하절기 8시 ~ 21시 / 동절기 8시 ~ 20시
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <br/>
                        </ul>
                        <li>
                            <h2 style="margin-top:50px;">오시는길</h2>
                        </li>
                        <ul class="ninfo">
                            <li><b>지하철</b>
                                <ul>
                                    <li>
                                        1호선 | 이촌역 4번 출구 500m
                                    </li>
                                    <li>
                                        4호선 | 이촌역 4번 출구 500m
                                    </li>
                                    <li>
                                        경의중앙선 | 서빙고역 100m
                                    </li>
                                </ul>
                            </li>
                            <br/>
                            <li><b>버스</b>
                                <ul>
                                    <li>
                                        간선
                                        <ul>
                                            <li>
                                                100, 2016, 3012, 6010, 6211
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li><br/>
                            <li><b>주차장</b>
                                <ul>
                                    <li>
                                        주차장 수 : 6개소(잠원1주차장, 잠원2주차장, 잠원3주차장, 잠원4주차장, 잠원5주차장, 잠원6주차장)
                                    </li>
                                    <li>
                                        이용시간 : 오전 6시 ~ 오후 12시
                                    </li>
                                    <li>
                                        주차요금
                                        <ul>
                                            <li>
                                                기본요금 : 최초 30분 1,000원
                                            </li>
                                            <li>
                                                초과 10분당 200원
                                            </li>
                                            <li>
                                                1일 주차 최고한도 10,000원
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>