<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>ComforTravel</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <div id="wrapper">

            <div class="search">
                <div class="search_box">
                    <h1 class="logo">ComforTravel</h1>
                    <div class="window">
                        <form action="/applysearch" method="GET">
                            <input type="text" id="fname" class="input_text" name="location" placeholder="검색어를 입력하세요">
                            <button class="Button" type="submit"><div class="searchBtn">검색</div></button>
                        </form>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            
            <div class="main">
                <h1>제암리 3.1운동순국기념관</h1>
                <div class="pinfo">
                    1919년 3월 1일, 전국 각지에서 일어난 독립만세운동은 일제 식민통치에서 벗어나려는 우리민족의 거족적인 항쟁이자 자유, 민주, 평화 등 인류의 보편적 가치를 추구하는 것이었습니다. 3·1운동은 비폭력 원칙에도 불구하고, 화성지역에서는 면사무소와 주재소를 불태우고 순사 2명을 처단하는 등 무력항쟁으로 전개되었습니다. 그 결과 일제는 화성 전역에 방화, 학살 등의 만행을 저지르는 잔혹한 보복을 하였습니다. 1919년 4월 15일, 일본군 보병 79연대 소속 육군 중위 아리타 도시오(有田俊夫)는 보병(步兵) 11명을 이끌고 제암리로 들어와 15세 이상 남자들을 교회로 모았습니다. 일본군은 건물을 폐쇄하고 불을 지른 뒤 총을 난사하여 주민들을 학살하였습니다. 일제의 만행은 여기서 그치지 않고 옆 마을인 고주리로 건너가 독립운동가 김흥렬 일가(一家) 6명을 참살하고 집을 방화하였습니다. 제암·고주리 학살사건은 일제가 화성지역 독립운동 근거지를 전복시키고 3·1운동의 추가적인 확산을 저지하고자 치밀하게 사전 계획한 보복사건입니다. 또한 특정(特定)한 종족(種族)이나 종교적 집단을 완전히 없앨 목적으로 그 구성원을 살해한 학살사건이기도 합니다. 일제는 사건 축소와 왜곡을 통해 현재까지도 반성과 사죄를 하고 있지 않습니다. 2001년 화성시는 제암리3·1운동순국기념관을 개관하여 제암리, 고주리 학살사건으로 돌아가신 선열 스물아홉분의 항일애국정신을 기리고 화성지역 독립 정신 계승에 앞장서고 있습니다. 앞으로 관련 유물과 자료를 지속적으로 발굴·전시하여 학살사건의 전모와 일제의 만행을 전 세계에 알리고, 희생자를 추모하는 화성독립운동 전문박물관으로서 거듭나고자 합니다.
                </div>
                <!-- 사진 -->
                <div class="main_img">
                    <table>
                        <tr>
                            <td><img alt="" src="" /></td>
                            <td><img alt="" src="" /></td>
                            <td><img alt="" src="" /></td>
                        <tr>
                      </table>
                </div>
                
                <div class="main">
                    <ul class="ullist">
                        <ul class="ninfo">
                            <li>주소 : 경기 화성시 향남읍 제암길 50 제암리 3.1운동순국기념관</li>
                            <li>전화 : 031-366-1604</li>
                            <li>사이트 :  <a href="https://www.jeam.or.kr/html/?pmode=main" target="_blank">https://www.jeam.or.kr/html/?pmode=main</a></li>
                        <li>운영시간 : 10:00 ~ 18:00 | 매주 월요일 정기휴무</li>
                        </ul>
                        <li>
                            <h2 style="margin-top:50px;">오시는길</h2>
                        </li>
                        <ul class="ninfo">
                            <li><b>지하철</b>
                                <ul>
                                    <li>
                                        5호선 | 수원역 | 병점역
                                    </li>
                                </ul>
                            </li><br/>
                            <li><b>버스</b>
                                <ul>
                                    <li>
                                        일반 | 13-2, 33-1, 80, 81
                                    </li>
                                    <li>
                                        직행 | 8155, 9802
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>