<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>ComforTravel</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <div id="wrapper">

            <div class="search">
                <div class="search_box">
                    <h1 class="logo">ComforTravel</h1>
                    <div class="window">
                        <form action="/applysearch" method="GET">
                            <input type="text" id="fname" class="input_text" name="location" placeholder="검색어를 입력하세요">
                            <button class="Button" type="submit"><div class="searchBtn">검색</div></button>
                        </form>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            
            <div class="main">
                <h1>짚라인</h1>
                <div class="pinfo">
                    용인자연휴양림에 설치된 6개의 짚라인 코스는 숲 속 사이를 지날 수 있게 설계되었으며, 비행체험을 하며 산림의 향기를 느낄 수 있다.
                </div>
                <!-- 사진 -->
                <div class="main_img">
                    <table>
                        <tr>
                            <td><img alt="" src="https://ldb-phinf.pstatic.net/20220622_139/1655889396735H1fDo_PNG/%BF%EB%C0%CE_%C2%A4%B6%F3%C0%CE_%285%29.png" /></td>
                            <td><img alt="" src="https://ldb-phinf.pstatic.net/20220622_249/1655889314236H2cjz_PNG/44.png" /></td>
                            <td><img alt="" src="" /></td>
                        <tr>
                      </table>
                </div>
                
                <div class="main">
                    <ul class="ullist">
                        <ul class="ninfo">
                            <li>주소 : 경기 용인시 처인구 모현읍 초부로 220 짚라인 용인</li>
                            <li>전화 : 1588-5219</li>
                            <li>사이트 : <a href="https://www.ziplineyongin.co.kr/yonginindex.php" target="_blank">https://www.ziplineyongin.co.kr/yonginindex.php</a></li>
                            <li>운영시간 : 09:00 ~ 17:00</li>
                        </ul>
                        <li>
                            <h2 style="margin-top:50px;">오시는길</h2>
                        </li>
                        <ul class="ninfo">
                            <li><b>버스</b>
                                <ul>
                                    <li>
                                        일반 | 89
                                    </li>
                                    <li>
                                        광역 | 1117
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>