<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>ComforTravel</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <div id="wrapper">

            <div class="search">
                <div class="search_box">
                    <h1 class="logo">ComforTravel</h1>
                    <div class="window">
                        <form action="/applysearch" method="GET">
                            <input type="text" id="fname" class="input_text" name="location" placeholder="검색어를 입력하세요">
                            <button class="Button" type="submit"><div class="searchBtn">검색</div></button>
                        </form>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            
            <div class="main">
                <h1>통인시장</h1>
                <div class="pinfo">
                    통인시장은 일제강점기인 1941년 효자동 인근의 일본인들을 위하여 조성된 공설시장을 모태로 하며, 6·25전쟁 이후 서촌(西村；경복궁 서쪽 마을) 지역에 인구가 급격히 증가함에 따라 옛 공설시장 주변으로 노점과 상점이 들어서면서 시장의 형태를 갖추게 되었다.  2005년 '재래시장 육성을 위한 특별법'(현행 전통시장 및 상점가 육성을 위한 특별법)에 따라 인정시장(認定市場)으로 등록된 뒤 현대화 시설을 갖추었고, 2010년 서울시와 종로구가 주관하는 '서울형 문화시장'으로 선정되었다. 2011년에는 시장상인회가 마을기업으로 (주)통인커뮤니티를 법인 등록하여 통합콜센터와 배송센터를 설치하고 온라인 쇼핑몰도 개설하였다. 점포 수는 70여 개로 식당·반찬가게 등 요식 관련 업소가 가장 많고, 채소·과일·생선·정육 등 1차 생산품을 판매하는 업소가 그 다음이며, 그밖에 내의·신발 등의 공산품, 옷 수선, 가방 및 구두 수선 업소 등이 있다. 2012년 1월부터 '도시락카페 통(通)'을 운영하여 큰 호응을 얻고 있다. 시장 전체 휴일은 매달 셋째주 일요일이고, 도시락카페 이용 시간은 매주 화~일요일(셋째주 일요일 제외) 오전 11시에서 오후 5시까지이다. 도시락을 이용할 수 있는 엽전 판매는 오후 4시까지이다. 
                </div>
                <!-- 사진 -->
                <div class="main_img">
                    <table>
                        <tr>
                            <td><img alt="" src="https://ldb-phinf.pstatic.net/20150831_298/1441017324476IxbSO_JPEG/116070515561487_1.jpg" /></td>
                            <td><img alt="" src="" /></td>
                            <td><img alt="" src="" /></td>
                        <tr>
                      </table>
                </div>
                
                <div class="main">
                    <ul class="ullist">
                        <ul class="ninfo">
                            <li>주소 : 서울 종로구 자하문로15길 18</li>
                            <li>전화 : 02-722-0911</li>
                            <li>사이트 : <a href="https://tonginmarket.modoo.at/" target="_blank">https://tonginmarket.modoo.at/</a></li>
                            <li>운영시간 : 07:00 ~ 21:00<br/>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;">일요일 휴무 매달 셋째 주 시장 전체 휴무</span><br/></li>
                        </ul>
                        <li>
                            <h2 style="margin-top:50px;">오시는길</h2>
                        </li>
                        <ul class="ninfo">
                            <li><b>지하철</b>
                                <ul>
                                    <li>
                                        3호선 | 경복궁역 2번 출구 도보 5분
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>