<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>ComforTravel</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <div id="wrapper">

            <div class="search">
                <div class="search_box">
                    <h1 class="logo">ComforTravel</h1>
                    <div class="window">
                        <form action="/applysearch" method="GET">
                            <input type="text" id="fname" class="input_text" name="location" placeholder="검색어를 입력하세요">
                            <button class="Button" type="submit"><div class="searchBtn">검색</div></button>
                        </form>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            
            <div class="main">
                <h1>한국근현대음악관</h1>
                <div class="pinfo">
                    지난 2014년 10월 평택호에서 국악 현대화의 아버지 지영희선생이 부활했다. 평택은 예부터 한국 소리의 본고장으로 국악의 전통이 매우 깊은 고장이다. 이 고장에서 지영희선생이 태어난 것은 그저 우연의 일치가 아니다. 지영희선생은 국악의 현대화뿐만 아니라 대중화, 세계화까지 이끈 위대한 영웅이다. 허나 그에 대해 제대로 알고 있는 대한민국 사람은 많지 않다. 지영희국악관은 바로 그 애절한 비하인드 스토리는 물론 업적, 유물, 비공개 영상 등 살아있는 듯 한 지영희선생의 많은 부분을 재현했다. 지영희선생을 제대로 알게 되고 그가 남긴 자랑스러운 우리 음악들을 실지로 접하고 나서야 많은 사람들이 감동하고 전율했다. 그 사람들의 서명운동을 시작으로 많은 분들의 노력으로 이렇게 지영희상설전시관을 만들기에 이르렀다. 우리 음악을 지금까지 간직할 수 있도록 영혼을 다 바친 지영희선생에 대해 머리가 아닌 오감과 가슴으로 느낄 수 있는 살아있는 전시관이 될 것이며 온 국민이 국악을 사랑하게 만드는 맹아의 장소가 될 것이다.
                </div>
                <!-- 사진 -->
                <div class="main_img">
                    <table>
                        <tr>
                            <td><img alt="" src="" /></td>
                            <td><img alt="" src="" /></td>
                            <td><img alt="" src="" /></td>
                        <tr>
                      </table>
                </div>
                
                <div class="main">
                    <ul class="ullist">
                        <ul class="ninfo">
                            <li>주소 : 경기 평택시 현덕면 평택호길 147 한국소리터 한국근현대음악관</li>
                            <li>전화 : 031-8024-8683</li>
                            <li>사이트 : <a href="https://www.ptlib.go.kr/mkmp/index.do" target="_blank">https://www.ptlib.go.kr/mkmp/index.do</a></li>
                            <li>운영시간 : 10:00 ~ 16:00</li>
                        </ul>
                        <li>
                            <h2 style="margin-top:50px;">오시는길</h2>
                        </li>
                        <ul class="ninfo">
                            <li><b>버스</b>
                                <ul>
                                    <li>
                                        일반 | 82-1, 82-2
                                    </li>
                                    <li>
                                        시외 | 8340
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>