<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>ComforTravel</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <div id="wrapper">

            <div class="search">
                <div class="search_box">
                    <h1 class="logo">ComforTravel</h1>
                    <div class="window">
                        <form action="/applysearch" method="GET">
                            <input type="text" id="fname" class="input_text" name="location" placeholder="검색어를 입력하세요">
                            <button class="Button" type="submit"><div class="searchBtn">검색</div></button>
                        </form>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            
            <div class="main">
                <h1>행주산성</h1>
                <div class="pinfo">
                    행주산성은 경기도 고양시 덕양구 행주내동 덕양산의 7, 8부 능선에 쌓은 테뫼식(山頂式) 성으로 흙을 이용한 토축산성입니다. 사적 제56호로 지정되었습니다. 덕양산 정상부를 에워싼 소규모의 내성(內城)과 북쪽으로 뻗은 골짜기를 에워싼 외성(外城)의 이중구조로 강안의 험한 절벽을 이용하고 동·북·서로 전개된 넓은 평야를 감싸고 있는 형태는 삼국시대 초기의 산성형식과 같습니다. 현재 성벽은 산 정상부의 동남쪽 사면과 외성부의 동북쪽 성벽뿐이며, 북서쪽 방면은 내성은 확인되나 외성 성벽은 확인할 수 없습니다. 성벽은 내성의 경우 정상부를 깎아내어 다듬은 뒤에 둘레 약 250m 정도의 토루(土壘)를 형성하고 있으며, 정상에서 동북쪽의 산등성이를 따라 외성의 자취가 남아 있습니다. 성안에서는 삼국시대의 적갈색 연질토기와 회청색 경질토기 등의 조각을 비롯하여 어골문(魚骨文), 수지문(手指文)이 새겨진 기와조각도 발견되고 있어 고려시대까지도 사용된 것으로 보입니다. 특히, 행주산성은 1593년(선조 26) 권율(權慄) 장군이 대승을 이룬 전적지로 임진왜란 3대첩의 하나인 행주대첩을 이룬 곳입니다. 현재 성안에는 복원된 415m의 토성의 성곽과 1603년에 세운 행주대첩비가 있으며, 1970년에 대대적인 정화작업으로 권율장군의 사당인 충장사(忠壯祠) 등을 건립하여 현재의 모습을 구축하였습니다.
                </div>
                <!-- 사진 -->
                <div class="main_img">
                    <table>
                        <tr>
                            <td><img alt="" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2F20141025_288%2Fjeju8253_1414168481388t3QxW_JPEG%2FIMG_0218.jpg%231280x853" /></td>
                            <td><img alt="" src="https://ldb-phinf.pstatic.net/20150831_226/14410086417008zTSU_JPEG/106976554155681_0.jpg" /></td>
                            <td><img alt="" src="https://ldb-phinf.pstatic.net/20140407_126/1396856129200OmfY0_JPEG/%B0%E6%B1%E2_%C7%E0%C1%D6%BB%EA%BC%BA_2.JPG?type=m500_500" /></td>
                        <tr>
                      </table>
                </div>
                
                <div class="main">
                    <ul class="ullist">
                        <ul class="ninfo">
                            <li>주소 : 경기 고양시 덕양구 행주내동 산26-1</li>
                            <li>전화 : 031-8075-4642</li>
                            <li>사이트 :</li>
                            <li>운영시간 : 하절기(3월~10월) 09:00 - 18:00 | 동절기(11월~2월) 09:00 - 17:00 | 매주 월요일 정기휴무
                            </li>
                        </ul>
                        <li>
                            <h2 style="margin-top:50px;">오시는길</h2>
                        </li>
                        <ul class="ninfo">
                            <li><b>지하철</b>
                                <ul>
                                    <li>
                                        3호선 | 화정역
                                    </li>
                                    <li>
                                        경의중앙선 | 능곡역
                                    </li>
                                </ul>
                            </li><br/>
                            <li><b>버스</b>
                                <ul>
                                    <li>마을
                                        <ul>
                                            <li>
                                                11
                                            </li>
                                        </ul>
                                    </li>
                                    <li>일반
                                        <ul>
                                            <li>
                                                85-1
                                            </li>
                                        </ul>
                                    </li>
                                    <li>광역
                                        <ul>
                                            <li>
                                                9707
                                            </li>
                                        </ul>
                                    </li>
                                    <li>좌석
                                        <ul>
                                            <li>
                                                921
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>