<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>ComforTravel</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <div id="wrapper">

            <div class="search">
                <div class="search_box">
                    <h1 class="logo">ComforTravel</h1>
                    <div class="window">
                        <form action="/applysearch" method="GET">
                            <input type="text" id="fname" class="input_text" name="location" placeholder="검색어를 입력하세요">
                            <button class="Button" type="submit"><div class="searchBtn">검색</div></button>
                        </form>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            
            <div class="main">
                <h1>화성 고정리 공룡알 화석산지</h1>
                <div class="pinfo">
                    화성 고정리 공룡알 화석산지는 중생대 백악기에 형성된 퇴적층(약 8300만∼8500만년 전으로 추정)으로 시화호 간석지가 조성되기 이전에는 섬이었던 6∼7개 지점에서 공룡알 화석 및 알둥지가 발견되었다. 세계적으로 공룡알 화석이 발견된 곳은 대부분 중국과 몽고 지역이었으나 시화호처럼 많은 공룡알화석이 한꺼번에 발견된 것은 매우 드문 경우이다.
                </div>
                <!-- 사진 -->
                <div class="main_img">
                    <table>
                        <tr>
                            <td><img alt="" src="" /></td>
                            <td><img alt="" src="" /></td>
                            <td><img alt="" src="" /></td>
                        <tr>
                      </table>
                </div>
                
                <div class="main">
                    <ul class="ullist">
                        <ul class="ninfo">
                            <li>주소 : 경기 화성시 송산면 공룡로 659</li>
                            <li>전화 : 031-357-3951</li>
                            <li>사이트 :  <a href="https://dinopia.hscity.go.kr/user/index.jsp" target="_blank">https://dinopia.hscity.go.kr/user/index.jsp</a></li>
                        <li>운영시간 : 09:00 ~ 17:00 | 매주 월요일 정기휴무</li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>